@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}
h1 {
    font-size: 32px;
    font-weight: bold;
}
h2 {
    font-size: 26px;
    font-weight: bold;
}
h3 {
    font-size: 22px;
    font-weight: bold;
}